<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net45" />
  <package id="Mono.Security" version="5.4.0.201" targetFramework="net45" />
  <package id="Npgsql" version="4.0.4" targetFramework="net45" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="ztools.other.log4net" version="2.0.5" targetFramework="net45" />
</packages>